*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin: 0px;
    background-image: url('/sealink2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.camera-btn{
  position: fixed;
  bottom: 30px;
  right: 30px;

  width: 65px;
  height: 65px;
  border-radius: 50%;


  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 28px;
  color: white;

  background :rgba(255,255,255,0.12);
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);

  border: 1px solid rgba(255,255,255,0.25);

  box-shadow: 
    0 8px 32px rgba(0,0,0,0.25),
    inset 0 1px 1px rgba(255,255,255,0.4),
    inset 0 -2px 8px rgba(255,255,255,0.1);

  cursor: pointer;
  transition: all 0.25s ease;  
}

.camera-btn:hover{
  transform: scale(1.08);
  background: rgba(255,255,255,0.18);
}

/*.particles {
  position: fixed;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.particles span {
  position: absolute;
  width: 3px;
  height: 3px;
  background: white;
  border-radius: 50%;
  opacity: 0.5;

  animation: flow linear infinite;
}

@keyframes flow {
  from {
    transform: translateX(-20vw);
    opacity: 0;
  }

  10% {
    opacity: 0.6;
  }

  90% {
    opacity: 0.6;
  }

  to {
    transform: translateX(120vw);
    opacity: 0;
  }
}*/

.logo{
  width: 350px;
  display: block;
  margin: 20px auto 0;
  transform: translateY(-180px);
}

.right{
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card{
  width:420px;
  background: white;
  border-radius: 22px;
  padding: 35px;
  background :rgba(255,255,255,0.12);
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);

  border: 1px solid rgba(255,255,255,0.25);

  box-shadow: 
    0 8px 32px rgba(0,0,0,0.25),
    inset 0 1px 1px rgba(255,255,255,0.4),
    inset 0 -2px 8px rgba(255,255,255,0.1);

  cursor: pointer;
  transition: all 0.25s ease;  
}

input{
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ddd;
}

button{
  background: linear-gradient(90deg,#ddd,#dda);
  border: none;
  color: white;
  padding: 14px;
  border-radius: 30px;
  font-size: 17px;
  cursor: pointer;
}